
.container {
    font-family: 'Montserrat', serif !important;
    width: 60%;
    background-color: lightblue;
    text-align: center;
    border-radius: 12px;
    
}

#temperature {
    font-weight: bold;
    font-size: 34px;
}



